body {
  text-align: center;
  background-color: cadetblue;
  display: grid;
  grid-template-rows: 200px auto;
  grid-template-areas:
    "1"
    "2";
}

h1 {
  font-size: 50px;
}

#div1 {
  grid-area: 2;
}

p {
  font-size: 20px;
  margin-top: 100px;
}

button {
  margin: 20px;
  padding: 10px 10px;
  border: 1px black solid;
  border-radius: 15px;
  background-color: aqua;
  font-size: 15px;
  font-weight: bold;
}

#pigLatinText {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Alfa Slab One", cursive;
}

#plaintext {
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  text-transform: uppercase;
}
